.slideLineWrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    width: calc(100% - 2rem);
    margin-top: 2rem;
    left: 0;
    bottom: 1.5rem;
    padding: 0 1rem;
  }
  
  .slideCircle {
    max-width: 8px;
    width: 100%;
    min-height: 8px;
    margin: 0 1px;
    border-radius: 4px;
    background-color: #c2cfd2cb;
    }
  
  .chosenSlideCircle {
    max-width: 8px;
    width: 100%;
    min-height: 8px;
    margin: 0 1px;
    border-radius: 4px;
    background-color: #00ff2ae6;
  }
  